<div class="container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-signin">
       <h2>Fill the form</h2>
        <div id="data">
          <div class="form-group">
            <label for="country-name">Country name</label>
            <input type="text" id="country-name" class="form-control" formControlName="countryName">
            <!-- <span class="help-block" *ngIf="form.get('countryName')?.invalid && form.get('countryName').touched">It is a required value</span> -->
            <span class="help-block" *ngIf="form.get('countryName')?.errors?.countryNameForbidden && form.get('countryName').touched">you can't use that name</span>
          </div>
          <div class="form-group">
            <label for="capital">Capital</label>
            <input  id="capital" class="form-control" formControlName="countryCapital">
            <span class="help-block" *ngIf="form.get('countryCapital')?.errors?.forbiddenCapital && form.get('countryCapital').touched">you can't use that name</span>

          </div>
          <div class="form-group">
            <label for="population">Population</label>
            <input  id="population" class="form-control" formControlName="population">
          </div>
         
        </div>
        <div class="form-group">
          <label for="flag">Flag</label>
          <select id="flag" class="form-control" formControlName="flag">
            <option *ngFor="let flag of arrayOfFlags" [value]="flag.value">{{ flag.name }}</option>
          </select>
        </div>
        <button class="btn btn-lg btn-primary btn-block mt-2" type="submit" [disabled]="form.invalid">Submit</button>
      </form>
 </div>

 <div class="container">
   <pre>{{ form.controls.countryCapital.valid | json}}</pre>
   <pre>{{ form.controls.countryCapital.errors | json}}</pre>
 </div>
