<!-- <p [ngStyle]="{
    fontSize: '20px',
    color: 'red',
    'font-weight': 'bold',
    'text-decoration': 'underline',
    'text-align': 'center'
}">{{ textFromChild }}</p> -->

<p [ngClass]=" {
    'styleI': styleVariable1,
    'styleII': styleVariable2
}">{{ textFromChild }}</p>
<div class="container">
    <button type="button" class="mr-2 btn btn-primary" (click)="styleVariable1 = !styleVariable1">STYLE 1 {{ styleVariable1 ? 'ON' : 'OFF'}}</button>
    <button type="button" class="btn btn-primary" (click)="styleVariable2 = !styleVariable2">STYLE 2 {{ styleVariable2 ? 'ON' : 'OFF'}}</button>    
</div>
