<nav class="nav">
    <a class="nav-link active" aria-current="page" href="#">Home</a>
    <a class="nav-link" [routerLink]="'/table'">Table</a>
    <a class="nav-link" [routerLink]="'/playground'">Playground</a>
  </nav>
